/* Футер */
.footer {
background-color: $footer-hero-bgr-color;
    }
.footer-logo {
display: block;
color: $white-minor;
font-family: Raleway, sans-serif;
margin-bottom: 20px;
}

.footer-address {
font-size: 14px;
line-height: 1.7;
font-style: normal;

 p {
color: $white-minor;
margin-top: 0px;
margin-bottom: 9px;
}
 a {
color: rgba(255, 255, 255, 60%);
margin-top: 0px;
margin-bottom: 9px;
display: block;
}
}

.footer .conteiner{
display: flex;
align-items: baseline;

padding-top: 60px;
padding-bottom: 60px;
}

.footer-link{
display: block;
margin-left: 70px;
}
.footer-link p,
.footer-subscription p{
margin-top: 0;
margin-bottom: 20px;
color:  $white-minor;
font-weight: 700;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.03em;
text-transform: uppercase;
}

.footer-link a{
@extend %flex-center;

color:  $white-minor; 
background-color: rgba(255, 255, 255, 0.1);

transition: background-color  250ms $timing-function,
            color 250ms $timing-function;
}

.item-footer {
margin-right: 10px;
margin-bottom: 0px;
}
.item-footer:not(:last-child) {
margin-right: 10px;
}

.item-footer svg {
fill: currentColor;
}
/* Форма подписки */
.footer-subscription{
display: block;
margin-left: 93px;
}

.footer-input{
margin: 0px 12px 0px 0px;
padding: 15px 16px;
border: 1px solid rgba(255, 255, 255, 0.3);
border-radius: 4px;
width: 358px;
background-color: transparent;
color: $white-minor;

&:focus{
outline: 0;
border-color: $accent-color-blue;
}
}


.icon-telegram::after{
content: "";
width: 24px;
height: 24px;
margin-left: 10px;
background-image: url(../../images/icon/telegram.svg);

display: inline-flex;
align-items: center;
vertical-align: middle;
}